
@font-face {
	font-family: 'Open Sans';
	src:
	url('../fonts/os.ttf') format('ttf'),
	url('../fonts/os.woff') format('woff'),
	url('../fonts/os.woff2') format('woff2'),
	url('../fonts/os.eot') format('eot');
	font-display: swap;
	}
  
@font-face {
	font-family: 'Open Sans Bold';
	src:
	url('../fonts/os-bold.ttf') format('ttf'),
	url('../fonts/os-bold.woff') format('woff'),
	url('../fonts/os-bold.woff2') format('woff2'),
	url('../fonts/os-bold.eot') format('eot');
	font-display: swap;
	}
  
  