extends ../layouts/layout-default

block vars
	-
		const page = {
			title: 'Our Latest Developments'
		};

block main
	.main-content
		h1.title-lg Our Latest Developments
		<Developments></Developments>
	<svg width="0" height="0" class="hidden">
		<symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 17" id="next">
			<path d="M1 1l4.043 7.417L1 15.833" stroke="#363636" stroke-width="2" stroke-linecap="round"></path>
		</symbol>
	</svg>
