.b-devs {
    &__list  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 22px;
        padding: 45px 0;
        @include screen-max(900px){
            grid-template-columns: 1fr 1fr;
        }
        @include screen-max(540px){
            padding: 35px 0;
            grid-template-columns: 1fr;
        }
    }
    &__item {
       border: 1px solid #D8D8D8;
       position: relative;
       z-index: 10;
       margin-bottom: 16px;
       background: #F8F8F8;
       @include screen-max(540px){
		margin-bottom: 0;
	    }
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 15;
        &:hover {
        box-shadow: 3px 3px 10px 5px rgba(22, 22, 22, 0.1);
        }
    }
    &__img {
        width: 100%;
        height: 227px;
        position: relative;
         img {
             width: 100%;
             height: 100%;
             object-fit: cover;
         }
    }
    &__label {
        display: inline-block;
        font-family: 'Open Sans Bold';
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 8px 8px 5px 8px;
        background: var(--c-prim1);
        font-size: 12px;
        line-height: 16px;
        color: #fff;
        &.is-orange {
            background: var(--c-prim2);
        }
    }
    &__content {
        padding: 20px 20px 17px;
        color: var(--c-grey-text);
    }
    &__title {
        font-family: 'Open Sans Bold';
        font-size: 20px;
        line-height: 27px;
        word-break: break-all;
        max-height: 54px;
        overflow: hidden;
    }
    &__price {
        margin-top:15px;
        & span {
            font-family: 'Open Sans Bold';
        }
    }
    &__text {
        word-break: break-all;
        max-height: 50px;
        overflow: hidden;
    }
    &__text-sm {
        font-size: 14px;
    }
    &__filter {
        display: flex;
        align-items: center;
        & span {
            font-family: 'Open Sans Bold';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.3px;
            margin-right: 18px;
        }
        & input {
            width: 418px;
            height: 50px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            border-radius: 25px;
            padding: 0 20px;
            @include screen-max(540px){
                width: calc(100% - 60px);
            }
        }
    }
}
